


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."alcance" AS ENUM (
    'puntual',
    'diente',
    'arcada',
    'global'
);


ALTER TYPE "public"."alcance" OWNER TO "postgres";


CREATE TYPE "public"."categoria_condicion" AS ENUM (
    'temporal',
    'cronica'
);


ALTER TYPE "public"."categoria_condicion" OWNER TO "postgres";


CREATE TYPE "public"."categoria_diagnosis" AS ENUM (
    'caries',
    'periodontitis',
    'endodoncia',
    'ortodoncia',
    'protesis',
    'cirurgia_oral',
    'implantes',
    'estetica',
    'patologia_atm'
);


ALTER TYPE "public"."categoria_diagnosis" OWNER TO "postgres";


CREATE TYPE "public"."condicion_medica" AS ENUM (
    'diabetes',
    'embarazo',
    'tiroidismo',
    'hipertension',
    'arritmia',
    'cardiopatia_isquemica',
    'portador_marcapasos',
    'anticoagulado',
    'vih_sida',
    'hepatitis',
    'inmunodepresion',
    'alergia_antibioticos',
    'alergia_latex',
    'alergia_anestesia',
    'alergia_aines',
    'ulcera_peptica',
    'colitis',
    'insuficiencia_renal',
    'osteoporosis_bisfosfonatos',
    'asma'
);


ALTER TYPE "public"."condicion_medica" OWNER TO "postgres";


CREATE TYPE "public"."efecto_adverso" AS ENUM (
    'nauseas',
    'vomitos',
    'diarrea',
    'dolor_cabeza',
    'fatiga',
    'mareo',
    'somnolencia',
    'reaccion_alergica',
    'erupcion_cutanea',
    'anafilaxia',
    'xerostomia',
    'hiperplasia_gingival',
    'sabor_metalico',
    'parestesia',
    'sangrado_aumentado'
);


ALTER TYPE "public"."efecto_adverso" OWNER TO "postgres";


CREATE TYPE "public"."efecto_secundario" AS ENUM (
    'inflamacion',
    'sangrado_leve',
    'sensibilidad_termica',
    'boca_seca',
    'adormecimiento_prolongado',
    'trismo',
    'hematoma',
    'alteracion_gusto',
    'alveolitis',
    'dolor_cabeza',
    'mareos',
    'fatiga',
    'nauseas',
    'vomitos',
    'diarrea',
    'reacciones_alergicas',
    'cambios_animo',
    'vision_borrosa',
    'insomnio',
    'somnolencia'
);


ALTER TYPE "public"."efecto_secundario" OWNER TO "postgres";


CREATE TYPE "public"."estado_cita" AS ENUM (
    'programada',
    'confirmada',
    'cancelada',
    'completada',
    'no_asistida',
    'en_espera',
    'en_consulta',
    'no_asistio'
);


ALTER TYPE "public"."estado_cita" OWNER TO "postgres";


CREATE TYPE "public"."estado_compra" AS ENUM (
    'pendiente',
    'completada',
    'cancelada',
    'recibida',
    'env├¡ada'
);


ALTER TYPE "public"."estado_compra" OWNER TO "postgres";


CREATE TYPE "public"."estado_consumible" AS ENUM (
    'disponible',
    'bajo_stock',
    'agotado',
    'descontinuado'
);


ALTER TYPE "public"."estado_consumible" OWNER TO "postgres";


CREATE TYPE "public"."estado_cuenta" AS ENUM (
    'abierta',
    'pendiente',
    'saldada',
    'cancelada'
);


ALTER TYPE "public"."estado_cuenta" OWNER TO "postgres";


CREATE TYPE "public"."estado_cuota" AS ENUM (
    'pendiente',
    'pagada',
    'atrasada',
    'vencida',
    'cancelada'
);


ALTER TYPE "public"."estado_cuota" OWNER TO "postgres";


CREATE TYPE "public"."estado_pago" AS ENUM (
    'pendiente',
    'parcial',
    'completado',
    'fallido',
    'cancelado',
    'reembolsado',
    'vencido'
);


ALTER TYPE "public"."estado_pago" OWNER TO "postgres";


CREATE TYPE "public"."estatus_persona" AS ENUM (
    'activo',
    'inactivo',
    'suspendido'
);


ALTER TYPE "public"."estatus_persona" OWNER TO "postgres";


CREATE TYPE "public"."genero" AS ENUM (
    'masculino',
    'femenino',
    'otro',
    'no_prefiere_decir'
);


ALTER TYPE "public"."genero" OWNER TO "postgres";


CREATE TYPE "public"."metodo_pago" AS ENUM (
    'tarjeta_credito',
    'tarjeta_debito',
    'transferencia_bancaria',
    'efectivo'
);


ALTER TYPE "public"."metodo_pago" OWNER TO "postgres";


CREATE TYPE "public"."modo_pago" AS ENUM (
    'contado',
    'credito'
);


ALTER TYPE "public"."modo_pago" OWNER TO "postgres";


CREATE TYPE "public"."rol_usuario" AS ENUM (
    'admin',
    'doctor',
    'asistente'
);


ALTER TYPE "public"."rol_usuario" OWNER TO "postgres";


CREATE TYPE "public"."severidad_diagnosis" AS ENUM (
    'leve',
    'moderada',
    'grave'
);


ALTER TYPE "public"."severidad_diagnosis" OWNER TO "postgres";


CREATE TYPE "public"."tipo_condicion" AS ENUM (
    'fisiologica',
    'patologica',
    'quirurgica',
    'genetica',
    'alergica'
);


ALTER TYPE "public"."tipo_condicion" OWNER TO "postgres";


CREATE TYPE "public"."tipo_contraindicacion" AS ENUM (
    'absoluta',
    'relativa'
);


ALTER TYPE "public"."tipo_contraindicacion" OWNER TO "postgres";


CREATE TYPE "public"."tipo_documento" AS ENUM (
    'video',
    'imagen',
    'radiografia'
);


ALTER TYPE "public"."tipo_documento" OWNER TO "postgres";


CREATE TYPE "public"."tipo_movimiento" AS ENUM (
    'ingreso',
    'egreso'
);


ALTER TYPE "public"."tipo_movimiento" OWNER TO "postgres";


CREATE TYPE "public"."tipo_paciente" AS ENUM (
    'emergencia',
    'integrado'
);


ALTER TYPE "public"."tipo_paciente" OWNER TO "postgres";


CREATE TYPE "public"."tipo_sangre" AS ENUM (
    'a_positivo',
    'a_negativo',
    'b_positivo',
    'b_negativo',
    'ab_positivo',
    'ab_negativo',
    'o_positivo',
    'o_negativo'
);


ALTER TYPE "public"."tipo_sangre" OWNER TO "postgres";


CREATE TYPE "public"."tipo_superficie" AS ENUM (
    'mesial',
    'distal',
    'vestibular',
    'lingual',
    'palatina',
    'oclusal',
    'incisal'
);


ALTER TYPE "public"."tipo_superficie" OWNER TO "postgres";


CREATE TYPE "public"."tipo_suplidor" AS ENUM (
    'consumible',
    'servicio',
    'mixto'
);


ALTER TYPE "public"."tipo_suplidor" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."actualizar_stock_por_compra"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF (NEW.estado = 'recibida' AND OLD.estado != 'recibida') THEN
        UPDATE consumibles c
        SET stock_actual = c.stock_actual + cc.cantidad
        FROM consumibles_compras cc
        WHERE cc.consumible_id = c.id AND cc.compra_id = NEW.id;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."actualizar_stock_por_compra"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cancelar_citas_paciente_inactivo"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    -- Validamos el cambio a inactivo
    IF (NEW.estatus = 'inactivo') THEN
        UPDATE public.citas 
        SET estado = 'cancelada' 
        WHERE paciente_id = NEW.id 
          AND fecha_hora > now() 
          AND estado = 'pendiente';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."cancelar_citas_paciente_inactivo"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."crear_consulta_completa"("p_paciente_id" "uuid", "p_doctor_id" "uuid", "p_cita_id" "uuid", "p_fecha" timestamp with time zone, "p_motivo_consulta" "text", "p_temp_condiciones" "jsonb", "p_dientes" "jsonb", "p_documentos" "jsonb") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
declare
  v_consulta_id    uuid;
  v_odontograma_id uuid;
  v_diente_id      uuid;
  v_diente         jsonb;
  v_superficie     jsonb;
  v_doc            jsonb;
begin
  -- 1. Consulta
  insert into consultas (
    paciente_id, doctor_id, cita_id, fecha,
    motivo_consulta, temp_condiciones, created_at, updated_at
  )
  values (
    p_paciente_id, p_doctor_id, p_cita_id, p_fecha,
    p_motivo_consulta,
    -- temp_condiciones es text[]: convertimos el array jsonb de strings a text[].
    coalesce(
      (select array_agg(val)
         from jsonb_array_elements_text(coalesce(p_temp_condiciones, '[]'::jsonb)) as t(val)),
      '{}'::text[]
    ),
    now(), now()
  )
  returning id into v_consulta_id;

  -- 2. Odontograma (1:1 con la consulta)
  insert into odontogramas (consulta_id, created_at, updated_at)
  values (v_consulta_id, now(), now())
  returning id into v_odontograma_id;

  -- 3. Dientes + superficies
  for v_diente in select * from jsonb_array_elements(p_dientes)
  loop
    insert into dientes (
      odontograma_id, fdi_code, created_at, updated_at
    )
    values (
      v_odontograma_id, (v_diente ->> 'fdi_code')::int, now(), now()
    )
    returning id into v_diente_id;

    for v_superficie in select * from jsonb_array_elements(v_diente -> 'superficies')
    loop
      insert into superficies (
        diente_id, tipo_superficie, tratamientos_ids, created_at, updated_at
      )
      values (
        -- el enum tipo_superficie es min├║scula; la app env├¡a 'Mesial', etc.
        v_diente_id, lower(v_superficie #>> '{}')::tipo_superficie,
        '{}'::uuid[], now(), now()
      );
    end loop;
  end loop;

  -- 4. Documentos cl├¡nicos (radiograf├¡as ya subidas a Storage)
  if p_documentos is not null then
    for v_doc in select * from jsonb_array_elements(p_documentos)
    loop
      insert into documentos_clinicos (
        paciente_id, consulta_id, descripcion, tipo_documento,
        url_archivo, created_at, updated_at
      )
      values (
        p_paciente_id,
        v_consulta_id,
        v_doc ->> 'descripcion',
        (v_doc ->> 'tipo_documento')::tipo_documento,
        v_doc ->> 'url_archivo',
        now(), now()
      );
    end loop;
  end if;

  return v_consulta_id;
end;
$$;


ALTER FUNCTION "public"."crear_consulta_completa"("p_paciente_id" "uuid", "p_doctor_id" "uuid", "p_cita_id" "uuid", "p_fecha" timestamp with time zone, "p_motivo_consulta" "text", "p_temp_condiciones" "jsonb", "p_dientes" "jsonb", "p_documentos" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."es_admin"() RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
    SELECT EXISTS (
        SELECT 1
        FROM admins
        WHERE id = auth.uid()
    );
$$;


ALTER FUNCTION "public"."es_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."es_asistente"() RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
    SELECT EXISTS (
        SELECT 1
        FROM asistentes
        WHERE id = auth.uid()
    );
$$;


ALTER FUNCTION "public"."es_asistente"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."es_doctor"() RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
    SELECT EXISTS (
        SELECT 1
        FROM doctores
        WHERE id = auth.uid()
    );
$$;


ALTER FUNCTION "public"."es_doctor"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."limpiar_diagnosticos_superficie"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    UPDATE superficies 
    SET diagnostico_aplicado_id = NULL 
    WHERE diagnostico_aplicado_id = OLD.id;
    RETURN OLD;
END;
$$;


ALTER FUNCTION "public"."limpiar_diagnosticos_superficie"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."manejar_cita_cancelada"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$BEGIN
    IF (NEW.estado = 'cancelada') THEN
        -- Aqu├¡ podr├¡as insertar una notificaci├│n para el doctor
        RAISE NOTICE 'Cita cancelada para la persona id: %. El horario ha sido liberado.', NEW.persona_id;
    
    END IF;
    RETURN NEW;
END;$$;


ALTER FUNCTION "public"."manejar_cita_cancelada"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."registrar_movimiento_por_pago"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    caja_id_abierta uuid;
BEGIN
    SELECT id INTO caja_id_abierta 
    FROM cajas_diarias 
    WHERE fecha = CURRENT_DATE AND cerrada = false 
    LIMIT 1;

    IF caja_id_abierta IS NOT NULL THEN
        INSERT INTO movimientos_caja (caja_diaria_id, tipo, monto, descripcion, referencia_id)
        VALUES (caja_id_abierta, 'ingreso', NEW.monto, 'Pago de cuenta: ' || NEW.cuenta_id, NEW.id);
        
        UPDATE cajas_diarias 
        SET monto_esperado = monto_esperado + NEW.monto 
        WHERE id = caja_id_abierta;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."registrar_movimiento_por_pago"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_modified_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_modified_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_timestamp"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_timestamp"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."validar_caja_abierta"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM cajas_diarias 
        WHERE id = NEW.caja_diaria_id AND cerrada = true
    ) THEN
        RAISE EXCEPTION 'No se pueden registrar movimientos en una caja que ya est├í cerrada.';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."validar_caja_abierta"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."validar_disponibilidad_doctor_simple"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    is_doctor_available boolean;
BEGIN
    -- 1. Buscamos el valor de 'esta_disponible' (bool) en la tabla doctores
    SELECT esta_disponible INTO is_doctor_available 
    FROM doctores 
    WHERE id = NEW.doctor_id;

    -- 2. Si el bool es false, bloqueamos la cita
    IF is_doctor_available = false THEN
        RAISE EXCEPTION 'El doctor ha marcado su estado como NO DISPONIBLE.';
    END IF;

    -- 3. La parte de las citas solapadas sigue igual (esto busca en la tabla citas)
    IF EXISTS (
        SELECT 1 FROM citas 
        WHERE doctor_id = NEW.doctor_id 
        AND fecha_hora = NEW.fecha_hora 
        AND estado NOT IN ('candelada', 'no_asistida') -- Estos son los estados de la CITA, no del doctor
        AND id != NEW.id
    ) THEN
        RAISE EXCEPTION 'Ya existe una cita ocupando este horario para este doctor.';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."validar_disponibilidad_doctor_simple"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."validar_doctor_activo"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM personas 
        WHERE id = NEW.id AND estatus = 'activo'
    ) THEN
        RAISE EXCEPTION 'No se puede registrar o activar un doctor si la persona no est├í en estatus activo.';
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."validar_doctor_activo"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."validar_fecha_nacimiento"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    IF NEW.fecha_nacimiento > CURRENT_DATE THEN
        RAISE EXCEPTION 'La fecha de nacimiento (%) no puede ser una fecha futura.', NEW.fecha_nacimiento;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."validar_fecha_nacimiento"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."validar_monto_cuotas"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    monto_total_cuenta decimal(15,2);
    monto_total_cuotas decimal(15,2);
BEGIN
    SELECT COALESCE(SUM(precio_unitario * cantidad), 0) INTO monto_total_cuenta 
    FROM item_cuentas WHERE cuenta_id = NEW.cuenta_id;

    SELECT COALESCE(SUM(monto), 0) + NEW.monto INTO monto_total_cuotas 
    FROM cuotas WHERE cuenta_id = NEW.cuenta_id AND id != NEW.id;

    IF monto_total_cuotas > monto_total_cuenta THEN
        RAISE EXCEPTION 'La suma de las cuotas (%) no puede ser mayor al total de la cuenta (%)', monto_total_cuotas, monto_total_cuenta;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."validar_monto_cuotas"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."validar_monto_pago"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $_$
DECLARE
    balance_pendiente decimal(15,2);
BEGIN
    -- Calculamos cu├ínto debe la cuenta realmente en este momento
    SELECT (COALESCE(SUM(i.precio_unitario * i.cantidad), 0) - COALESCE(SUM(p.monto), 0))
    INTO balance_pendiente
    FROM public.cuentas c
    LEFT JOIN public.item_cuentas i ON i.cuenta_id = c.id
    LEFT JOIN public.pagos p ON p.cuenta_id = c.id AND p.estado = 'completado'
    WHERE c.id = NEW.cuenta_id;

    IF NEW.monto > balance_pendiente AND NEW.estado = 'completado' THEN
        RAISE EXCEPTION 'El monto del pago ($%) excede el balance pendiente ($%)', NEW.monto, balance_pendiente;
    END IF;
    
    RETURN NEW;
END;
$_$;


ALTER FUNCTION "public"."validar_monto_pago"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."admins" (
    "id" "uuid" NOT NULL,
    "departamento" "text" NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."admins" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."asistentes" (
    "id" "uuid" NOT NULL,
    "turno" "text" NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."asistentes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cajas_diarias" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "fecha" "date" DEFAULT CURRENT_DATE,
    "monto_apertura" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "monto_cierre" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "monto_esperado" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "monto_real" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "cerrada" boolean DEFAULT false,
    "abierta_por" "uuid",
    "cerrada_por" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."cajas_diarias" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."citas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "persona_id" "uuid" NOT NULL,
    "doctor_id" "uuid" NOT NULL,
    "fecha_hora" timestamp with time zone NOT NULL,
    "es_emergencia" boolean DEFAULT false,
    "estado" "public"."estado_cita" DEFAULT 'programada'::"public"."estado_cita",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "duracion_minutos" bigint,
    "updated_at" timestamp with time zone
);


ALTER TABLE "public"."citas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."compras" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "fecha" timestamp with time zone DEFAULT "now"() NOT NULL,
    "estado" "public"."estado_compra" DEFAULT 'pendiente'::"public"."estado_compra" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."compras" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."condiciones" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "tipo" "public"."tipo_condicion" NOT NULL,
    "categoria" "public"."categoria_condicion" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."condiciones" OWNER TO "postgres";


COMMENT ON TABLE "public"."condiciones" IS 'Cat├ílogo maestro de condiciones m├®dicas, alergias y estados del paciente.';



CREATE TABLE IF NOT EXISTS "public"."consultas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "paciente_id" "uuid" NOT NULL,
    "doctor_id" "uuid" NOT NULL,
    "cita_id" "uuid",
    "fecha" timestamp with time zone DEFAULT "now"() NOT NULL,
    "motivo_consulta" "text",
    "temp_condiciones" "text"[] DEFAULT '{}'::"text"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "notas" "text",
    "signos_vitales" "jsonb"
);


ALTER TABLE "public"."consultas" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."consulta_resumen" AS
 SELECT "id",
    "paciente_id",
    "doctor_id",
    "fecha"
   FROM "public"."consultas";


ALTER VIEW "public"."consulta_resumen" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."consumibles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "descripcion" "text",
    "stock_actual" integer DEFAULT 0,
    "stock_minimo" integer DEFAULT 0,
    "estado" "public"."estado_consumible" DEFAULT 'disponible'::"public"."estado_consumible",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."consumibles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."consumibles_compras" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "compra_id" "uuid" NOT NULL,
    "consumible_id" "uuid" NOT NULL,
    "suplidor_id" "uuid" NOT NULL,
    "cantidad" integer NOT NULL,
    "precio_unitario" numeric(15,2) NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "consumible_compra_cantidad_check" CHECK (("cantidad" > 0)),
    CONSTRAINT "consumible_compra_precio_unitario_check" CHECK (("precio_unitario" >= (0)::numeric))
);


ALTER TABLE "public"."consumibles_compras" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."contactos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" "text",
    "numero_telefono" "text" NOT NULL,
    "direccion" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."contactos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."contraindicaciones" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tratamiento_id" "uuid",
    "condicion_medica" "public"."condicion_medica",
    "medicina_id" "uuid",
    "procedimiento_id" "uuid",
    "descripcion" "text" NOT NULL,
    "tipo_contraindicacion" "public"."tipo_contraindicacion" DEFAULT 'relativa'::"public"."tipo_contraindicacion" NOT NULL,
    "efectos_adversos" "public"."efecto_adverso"[] DEFAULT '{}'::"public"."efecto_adverso"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."contraindicaciones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cuentas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "consulta_id" "uuid" NOT NULL,
    "fecha_creacion" timestamp with time zone DEFAULT "now"() NOT NULL,
    "fecha_pago" timestamp with time zone,
    "metodo_pago" "public"."modo_pago" NOT NULL,
    "nota" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."cuentas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cuotas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cuenta_id" "uuid" NOT NULL,
    "monto" numeric(15,2) NOT NULL,
    "fecha_vencimiento" "date" NOT NULL,
    "estado" "public"."estado_cuota" DEFAULT 'pendiente'::"public"."estado_cuota" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."cuotas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."diagnosticos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "descripcion" "text",
    "severidad_default" "public"."severidad_diagnosis" DEFAULT 'leve'::"public"."severidad_diagnosis" NOT NULL,
    "alcance" "public"."alcance" NOT NULL,
    "categoria" "public"."categoria_diagnosis" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."diagnosticos" OWNER TO "postgres";


COMMENT ON TABLE "public"."diagnosticos" IS 'Cat├ílogo maestro de diagn├│sticos cl├¡nicos para uso en odontogramas y consultas.';



CREATE TABLE IF NOT EXISTS "public"."diagnosticos_aplicados" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "diagnosis_id" "uuid" NOT NULL,
    "severidad" "public"."severidad_diagnosis" NOT NULL,
    "fecha_aplicacion" timestamp with time zone DEFAULT "now"() NOT NULL,
    "notas" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."diagnosticos_aplicados" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."dientes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "odontograma_id" "uuid" NOT NULL,
    "fdi_code" smallint NOT NULL,
    "observaciones" "text",
    "diagnostico_principal_id" "uuid",
    "tratamientos_aplicados_ids" "uuid"[] DEFAULT '{}'::"uuid"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone,
    "deleted_at" timestamp with time zone,
    "superficies" "jsonb" DEFAULT '[]'::"jsonb",
    CONSTRAINT "check_fdi_range" CHECK ((("fdi_code" >= 11) AND ("fdi_code" <= 85)))
);


ALTER TABLE "public"."dientes" OWNER TO "postgres";


COMMENT ON COLUMN "public"."dientes"."deleted_at" IS 'Marca de tiempo para borrado l├│gico. Si es NULL, el registro est├í activo.';



CREATE TABLE IF NOT EXISTS "public"."doctor_asistentes" (
    "doctor_id" "uuid" NOT NULL,
    "asistente_id" "uuid" NOT NULL
);


ALTER TABLE "public"."doctor_asistentes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."doctores" (
    "id" "uuid" NOT NULL,
    "especialidad" "text" NOT NULL,
    "esta_disponible" boolean DEFAULT true,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."doctores" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."documentos_clinicos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "paciente_id" "uuid" NOT NULL,
    "consulta_id" "uuid" NOT NULL,
    "descripcion" "text" NOT NULL,
    "tipo_documento" "public"."tipo_documento" NOT NULL,
    "url_archivo" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."documentos_clinicos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."equipos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "descripcion" "text",
    "ultimo_mantenimiento" timestamp with time zone NOT NULL,
    "tiempo_para_mantenimiento" integer NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."equipos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."equipos_mantenimientos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "equipo_id" "uuid" NOT NULL,
    "consumible_id" "uuid",
    "suplidor_id" "uuid",
    "descripcion" "text" NOT NULL,
    "costo" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "fecha_mantenimiento" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."equipos_mantenimientos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."item_cuentas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cuenta_id" "uuid" NOT NULL,
    "descripcion" "text" NOT NULL,
    "precio_unitario" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "cantidad" integer DEFAULT 1 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."item_cuentas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."medicinas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "efectos_secundarios" "public"."efecto_secundario"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone
);


ALTER TABLE "public"."medicinas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."movimientos_caja" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "caja_diaria_id" "uuid" NOT NULL,
    "tipo" "public"."tipo_movimiento" NOT NULL,
    "monto" numeric(15,2) NOT NULL,
    "descripcion" "text" NOT NULL,
    "fecha" timestamp with time zone DEFAULT "now"() NOT NULL,
    "referencia_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone,
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."movimientos_caja" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."odontogramas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "consulta_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone,
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."odontogramas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."ordenes_medicas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "consulta_id" "uuid" NOT NULL,
    "procedimiento_id" "uuid" NOT NULL,
    "fecha" timestamp with time zone DEFAULT "now"() NOT NULL,
    "notas" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone
);


ALTER TABLE "public"."ordenes_medicas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pacientes" (
    "id" "uuid" NOT NULL,
    "genero" "public"."genero" NOT NULL,
    "trabajo" "text",
    "referencia" "text",
    "tipo_paciente" "public"."tipo_paciente" DEFAULT 'integrado'::"public"."tipo_paciente" NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "created_at" timestamp with time zone
);


ALTER TABLE "public"."pacientes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pagos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cuenta_id" "uuid" NOT NULL,
    "monto" numeric(15,2) NOT NULL,
    "fecha" timestamp with time zone DEFAULT "now"() NOT NULL,
    "estado" "public"."estado_pago" DEFAULT 'pendiente'::"public"."estado_pago" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "metodo_pago" "public"."metodo_pago",
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "pagos_monto_check" CHECK (("monto" > (0)::numeric))
);


ALTER TABLE "public"."pagos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."persona_contactos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "persona_id" "uuid",
    "contacto_id" "uuid",
    "tipo_contacto" "text" DEFAULT 'personal'::"text",
    "es_principal" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."persona_contactos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."personas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "apellido" "text" NOT NULL,
    "fecha_nacimiento" "date" NOT NULL,
    "cedula" "text" NOT NULL,
    "estatus" "public"."estatus_persona" DEFAULT 'activo'::"public"."estatus_persona",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."personas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."procedimientos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."procedimientos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."recetas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "consulta_id" "uuid" NOT NULL,
    "medicina_id" "uuid" NOT NULL,
    "titulo" "text" NOT NULL,
    "dosis" "text" NOT NULL,
    "frecuencia" "text" NOT NULL,
    "indicaciones" "text" NOT NULL,
    "duracion" "text" NOT NULL,
    "notas" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."recetas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."record_aflicciones" (
    "record_id" "uuid" NOT NULL,
    "condicion_id" "uuid" NOT NULL,
    "fecha_deteccion" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."record_aflicciones" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."records" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "paciente_id" "uuid" NOT NULL,
    "tipo_sangre" "public"."tipo_sangre" NOT NULL,
    "condiciones" "text",
    "cant_hijos" integer DEFAULT 0,
    "cirugias_previas" "text"[] DEFAULT '{}'::"text"[],
    "historial_familiar" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."records" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."superficies" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "diente_id" "uuid" NOT NULL,
    "tipo_superficie" "public"."tipo_superficie" NOT NULL,
    "diagnostico_aplicado_id" "uuid",
    "tratamientos_ids" "uuid"[] DEFAULT '{}'::"uuid"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."superficies" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."suplidores" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "tipo_suplidor" "public"."tipo_suplidor" NOT NULL,
    "summary" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."suplidores" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."suplidores_contactos" (
    "suplidor_id" "uuid" NOT NULL,
    "contacto_id" "uuid" NOT NULL,
    "etiqueta" "text"
);


ALTER TABLE "public"."suplidores_contactos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."tratamientos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nombre" "text" NOT NULL,
    "descripcion" "text",
    "costo" numeric(15,2) DEFAULT 0.00 NOT NULL,
    "alcance" "public"."alcance" DEFAULT 'diente'::"public"."alcance" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."tratamientos" OWNER TO "postgres";


COMMENT ON TABLE "public"."tratamientos" IS 'Cat├ílogo maestro de procedimientos dentales y sus costos base.';



CREATE TABLE IF NOT EXISTS "public"."tratamientos_aplicados" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "tratamiento_id" "uuid" NOT NULL,
    "tratamiento_padre_id" "uuid",
    "es_continuo" boolean DEFAULT false,
    "esta_terminado" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "diente_id" "uuid",
    "superficie" "public"."tipo_superficie",
    "precio_aplicado" numeric(10,2),
    "consulta_id" "uuid",
    "notas" "text"
);


ALTER TABLE "public"."tratamientos_aplicados" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."usuarios" (
    "id" "uuid" NOT NULL,
    "username" "text" NOT NULL,
    "password_hash" "text" NOT NULL,
    "last_login" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."usuarios" OWNER TO "postgres";


COMMENT ON COLUMN "public"."usuarios"."password_hash" IS 'Hash Bcrypt o Argon2 de la contrase├▒a. No almacenar texto claro.';



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admin_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."asistentes"
    ADD CONSTRAINT "asistentes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cajas_diarias"
    ADD CONSTRAINT "caja_diaria_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."citas"
    ADD CONSTRAINT "citas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."compras"
    ADD CONSTRAINT "compras_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."condiciones"
    ADD CONSTRAINT "condiciones_nombre_key" UNIQUE ("nombre");



ALTER TABLE ONLY "public"."condiciones"
    ADD CONSTRAINT "condiciones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."consultas"
    ADD CONSTRAINT "consultas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."consumibles_compras"
    ADD CONSTRAINT "consumible_compra_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."consumibles"
    ADD CONSTRAINT "consumibles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contactos"
    ADD CONSTRAINT "contactos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."contraindicaciones"
    ADD CONSTRAINT "contraindicaciones_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cuentas"
    ADD CONSTRAINT "cuentas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cuotas"
    ADD CONSTRAINT "cuotas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."diagnosticos"
    ADD CONSTRAINT "diagnosis_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."diagnosticos_aplicados"
    ADD CONSTRAINT "diagnosticos_aplicados_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."dientes"
    ADD CONSTRAINT "dientes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."doctor_asistentes"
    ADD CONSTRAINT "doctor_asistentes_pkey" PRIMARY KEY ("doctor_id", "asistente_id");



ALTER TABLE ONLY "public"."doctores"
    ADD CONSTRAINT "doctores_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."documentos_clinicos"
    ADD CONSTRAINT "documentos_clinicos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."equipos_mantenimientos"
    ADD CONSTRAINT "equipos_mantenimiento_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."equipos"
    ADD CONSTRAINT "equipos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."item_cuentas"
    ADD CONSTRAINT "item_cuentas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."medicinas"
    ADD CONSTRAINT "medicinas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."movimientos_caja"
    ADD CONSTRAINT "movimientos_caja_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."odontogramas"
    ADD CONSTRAINT "odontogramas_consulta_id_key" UNIQUE ("consulta_id");



ALTER TABLE ONLY "public"."odontogramas"
    ADD CONSTRAINT "odontogramas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."ordenes_medicas"
    ADD CONSTRAINT "ordenes_medicas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pacientes"
    ADD CONSTRAINT "pacientes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pagos"
    ADD CONSTRAINT "pagos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."persona_contactos"
    ADD CONSTRAINT "persona_contactos_persona_id_contacto_id_key" UNIQUE ("persona_id", "contacto_id");



ALTER TABLE ONLY "public"."persona_contactos"
    ADD CONSTRAINT "persona_contactos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."personas"
    ADD CONSTRAINT "personas_cedula_key" UNIQUE ("cedula");



ALTER TABLE ONLY "public"."personas"
    ADD CONSTRAINT "personas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."procedimientos"
    ADD CONSTRAINT "procedimientos_nombre_key" UNIQUE ("nombre");



ALTER TABLE ONLY "public"."procedimientos"
    ADD CONSTRAINT "procedimientos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."recetas"
    ADD CONSTRAINT "recetas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."record_aflicciones"
    ADD CONSTRAINT "record_afliccion_pkey" PRIMARY KEY ("record_id", "condicion_id");



ALTER TABLE ONLY "public"."records"
    ADD CONSTRAINT "records_paciente_id_key" UNIQUE ("paciente_id");



ALTER TABLE ONLY "public"."records"
    ADD CONSTRAINT "records_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."superficies"
    ADD CONSTRAINT "superficies_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."suplidores_contactos"
    ADD CONSTRAINT "suplidor_contacto_pkey" PRIMARY KEY ("suplidor_id", "contacto_id");



ALTER TABLE ONLY "public"."suplidores"
    ADD CONSTRAINT "suplidores_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tratamientos_aplicados"
    ADD CONSTRAINT "tratamientos_aplicados_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tratamientos"
    ADD CONSTRAINT "tratamientos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cajas_diarias"
    ADD CONSTRAINT "unica_caja_por_dia" UNIQUE ("fecha");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_username_key" UNIQUE ("username");



CREATE INDEX "idx_afliccion_record" ON "public"."record_aflicciones" USING "btree" ("record_id");



CREATE INDEX "idx_compra_suplidor" ON "public"."consumibles_compras" USING "btree" ("suplidor_id");



CREATE INDEX "idx_contra_condicion" ON "public"."contraindicaciones" USING "btree" ("condicion_medica");



CREATE INDEX "idx_contra_tratamiento" ON "public"."contraindicaciones" USING "btree" ("tratamiento_id");



CREATE INDEX "idx_contraindicaciones_medicina_id" ON "public"."contraindicaciones" USING "btree" ("medicina_id");



CREATE INDEX "idx_documentos_consulta" ON "public"."documentos_clinicos" USING "btree" ("consulta_id");



CREATE INDEX "idx_recetas_consulta" ON "public"."recetas" USING "btree" ("consulta_id");



CREATE INDEX "idx_suplidor_contacto_ref" ON "public"."suplidores_contactos" USING "btree" ("suplidor_id");



CREATE INDEX "idx_tratamientos_aplicados_consulta_id" ON "public"."tratamientos_aplicados" USING "btree" ("consulta_id");



CREATE INDEX "idx_tratamientos_aplicados_diente_id" ON "public"."tratamientos_aplicados" USING "btree" ("diente_id");



CREATE OR REPLACE TRIGGER "tr_actualizar_stock_al_recibir" AFTER UPDATE ON "public"."compras" FOR EACH ROW EXECUTE FUNCTION "public"."actualizar_stock_por_compra"();



CREATE OR REPLACE TRIGGER "tr_cita_cancelada_log" AFTER UPDATE OF "estado" ON "public"."citas" FOR EACH ROW EXECUTE FUNCTION "public"."manejar_cita_cancelada"();



CREATE OR REPLACE TRIGGER "tr_limpiar_superficie_on_diagnosis_delete" AFTER DELETE ON "public"."diagnosticos_aplicados" FOR EACH ROW EXECUTE FUNCTION "public"."limpiar_diagnosticos_superficie"();



CREATE OR REPLACE TRIGGER "tr_paciente_inactivo_cancela_citas" AFTER UPDATE OF "estatus" ON "public"."personas" FOR EACH ROW EXECUTE FUNCTION "public"."cancelar_citas_paciente_inactivo"();



CREATE OR REPLACE TRIGGER "tr_pago_a_movimiento_caja" AFTER INSERT ON "public"."pagos" FOR EACH ROW EXECUTE FUNCTION "public"."registrar_movimiento_por_pago"();



CREATE OR REPLACE TRIGGER "tr_update_doctores_timestamp" BEFORE UPDATE ON "public"."doctores" FOR EACH ROW EXECUTE FUNCTION "public"."update_timestamp"();



CREATE OR REPLACE TRIGGER "tr_update_pacientes_timestamp" BEFORE UPDATE ON "public"."pacientes" FOR EACH ROW EXECUTE FUNCTION "public"."update_timestamp"();



CREATE OR REPLACE TRIGGER "tr_update_personas_timestamp" BEFORE UPDATE ON "public"."personas" FOR EACH ROW EXECUTE FUNCTION "public"."update_timestamp"();



CREATE OR REPLACE TRIGGER "tr_validar_doctor_persona" BEFORE INSERT OR UPDATE ON "public"."doctores" FOR EACH ROW EXECUTE FUNCTION "public"."validar_doctor_activo"();



CREATE OR REPLACE TRIGGER "tr_validar_edad_persona" BEFORE INSERT OR UPDATE ON "public"."personas" FOR EACH ROW EXECUTE FUNCTION "public"."validar_fecha_nacimiento"();



CREATE OR REPLACE TRIGGER "tr_validar_exceso_pago" BEFORE INSERT OR UPDATE OF "monto", "estado" ON "public"."pagos" FOR EACH ROW EXECUTE FUNCTION "public"."validar_monto_pago"();



CREATE OR REPLACE TRIGGER "tr_validar_limite_cuotas" BEFORE INSERT OR UPDATE ON "public"."cuotas" FOR EACH ROW EXECUTE FUNCTION "public"."validar_monto_cuotas"();



CREATE OR REPLACE TRIGGER "tr_validar_pago_caja_abierta" BEFORE INSERT ON "public"."movimientos_caja" FOR EACH ROW EXECUTE FUNCTION "public"."validar_caja_abierta"();



CREATE OR REPLACE TRIGGER "update_dientes_modtime" BEFORE UPDATE ON "public"."dientes" FOR EACH ROW EXECUTE FUNCTION "public"."update_modified_column"();



ALTER TABLE ONLY "public"."admins"
    ADD CONSTRAINT "admins_id_fkey" FOREIGN KEY ("id") REFERENCES "public"."usuarios"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."asistentes"
    ADD CONSTRAINT "asistentes_id_fkey" FOREIGN KEY ("id") REFERENCES "public"."usuarios"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cajas_diarias"
    ADD CONSTRAINT "caja_diaria_abierta_por_fkey" FOREIGN KEY ("abierta_por") REFERENCES "public"."usuarios"("id");



ALTER TABLE ONLY "public"."cajas_diarias"
    ADD CONSTRAINT "caja_diaria_cerrada_por_fkey" FOREIGN KEY ("cerrada_por") REFERENCES "public"."usuarios"("id");



ALTER TABLE ONLY "public"."citas"
    ADD CONSTRAINT "citas_doctor_id_fkey" FOREIGN KEY ("doctor_id") REFERENCES "public"."doctores"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."citas"
    ADD CONSTRAINT "citas_persona_id_fkey" FOREIGN KEY ("persona_id") REFERENCES "public"."personas"("id");



ALTER TABLE ONLY "public"."consultas"
    ADD CONSTRAINT "consultas_cita_id_fkey" FOREIGN KEY ("cita_id") REFERENCES "public"."citas"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."consultas"
    ADD CONSTRAINT "consultas_doctor_id_fkey" FOREIGN KEY ("doctor_id") REFERENCES "public"."doctores"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."consultas"
    ADD CONSTRAINT "consultas_paciente_id_fkey" FOREIGN KEY ("paciente_id") REFERENCES "public"."pacientes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."consumibles_compras"
    ADD CONSTRAINT "consumible_compra_compra_id_fkey" FOREIGN KEY ("compra_id") REFERENCES "public"."compras"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."consumibles_compras"
    ADD CONSTRAINT "consumible_compra_consumible_id_fkey" FOREIGN KEY ("consumible_id") REFERENCES "public"."consumibles"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."consumibles_compras"
    ADD CONSTRAINT "consumible_compra_suplidor_id_fkey" FOREIGN KEY ("suplidor_id") REFERENCES "public"."suplidores"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."contraindicaciones"
    ADD CONSTRAINT "contraindicaciones_medicina_id_fkey" FOREIGN KEY ("medicina_id") REFERENCES "public"."medicinas"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."contraindicaciones"
    ADD CONSTRAINT "contraindicaciones_procedimiento_id_fkey" FOREIGN KEY ("procedimiento_id") REFERENCES "public"."procedimientos"("id");



ALTER TABLE ONLY "public"."contraindicaciones"
    ADD CONSTRAINT "contraindicaciones_tratamiento_id_fkey" FOREIGN KEY ("tratamiento_id") REFERENCES "public"."tratamientos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cuentas"
    ADD CONSTRAINT "cuentas_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cuotas"
    ADD CONSTRAINT "cuotas_cuenta_id_fkey" FOREIGN KEY ("cuenta_id") REFERENCES "public"."cuentas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."diagnosticos_aplicados"
    ADD CONSTRAINT "diagnosticos_aplicados_diagnosis_id_fkey" FOREIGN KEY ("diagnosis_id") REFERENCES "public"."diagnosticos"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."dientes"
    ADD CONSTRAINT "dientes_diagnostico_principal_id_fkey" FOREIGN KEY ("diagnostico_principal_id") REFERENCES "public"."diagnosticos_aplicados"("id");



ALTER TABLE ONLY "public"."dientes"
    ADD CONSTRAINT "dientes_odontograma_id_fkey" FOREIGN KEY ("odontograma_id") REFERENCES "public"."odontogramas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."doctor_asistentes"
    ADD CONSTRAINT "doctor_asistentes_asistente_id_fkey" FOREIGN KEY ("asistente_id") REFERENCES "public"."asistentes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."doctor_asistentes"
    ADD CONSTRAINT "doctor_asistentes_doctor_id_fkey" FOREIGN KEY ("doctor_id") REFERENCES "public"."doctores"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."doctores"
    ADD CONSTRAINT "doctores_id_fkey" FOREIGN KEY ("id") REFERENCES "public"."usuarios"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."documentos_clinicos"
    ADD CONSTRAINT "documentos_clinicos_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."documentos_clinicos"
    ADD CONSTRAINT "documentos_clinicos_paciente_id_fkey" FOREIGN KEY ("paciente_id") REFERENCES "public"."pacientes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."equipos_mantenimientos"
    ADD CONSTRAINT "equipos_mantenimiento_consumible_id_fkey" FOREIGN KEY ("consumible_id") REFERENCES "public"."consumibles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."equipos_mantenimientos"
    ADD CONSTRAINT "equipos_mantenimiento_equipo_id_fkey" FOREIGN KEY ("equipo_id") REFERENCES "public"."equipos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."equipos_mantenimientos"
    ADD CONSTRAINT "equipos_mantenimiento_suplidor_id_fkey" FOREIGN KEY ("suplidor_id") REFERENCES "public"."suplidores"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."contraindicaciones"
    ADD CONSTRAINT "fk_contraindicaciones_medicina" FOREIGN KEY ("medicina_id") REFERENCES "public"."medicinas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."item_cuentas"
    ADD CONSTRAINT "item_cuentas_cuenta_id_fkey" FOREIGN KEY ("cuenta_id") REFERENCES "public"."cuentas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."movimientos_caja"
    ADD CONSTRAINT "movimientos_caja_caja_diaria_id_fkey" FOREIGN KEY ("caja_diaria_id") REFERENCES "public"."cajas_diarias"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."odontogramas"
    ADD CONSTRAINT "odontogramas_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."ordenes_medicas"
    ADD CONSTRAINT "ordenes_medicas_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."ordenes_medicas"
    ADD CONSTRAINT "ordenes_medicas_procedimiento_id_fkey" FOREIGN KEY ("procedimiento_id") REFERENCES "public"."procedimientos"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."pacientes"
    ADD CONSTRAINT "pacientes_id_fkey" FOREIGN KEY ("id") REFERENCES "public"."personas"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pagos"
    ADD CONSTRAINT "pagos_cuenta_id_fkey" FOREIGN KEY ("cuenta_id") REFERENCES "public"."cuentas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."persona_contactos"
    ADD CONSTRAINT "persona_contactos_contacto_id_fkey" FOREIGN KEY ("contacto_id") REFERENCES "public"."contactos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."persona_contactos"
    ADD CONSTRAINT "persona_contactos_persona_id_fkey" FOREIGN KEY ("persona_id") REFERENCES "public"."personas"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."recetas"
    ADD CONSTRAINT "recetas_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."recetas"
    ADD CONSTRAINT "recetas_medicina_id_fkey" FOREIGN KEY ("medicina_id") REFERENCES "public"."medicinas"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."record_aflicciones"
    ADD CONSTRAINT "record_afliccion_condicion_id_fkey" FOREIGN KEY ("condicion_id") REFERENCES "public"."condiciones"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."record_aflicciones"
    ADD CONSTRAINT "record_afliccion_record_id_fkey" FOREIGN KEY ("record_id") REFERENCES "public"."records"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."records"
    ADD CONSTRAINT "records_paciente_id_fkey" FOREIGN KEY ("paciente_id") REFERENCES "public"."pacientes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."superficies"
    ADD CONSTRAINT "superficies_diagnostico_aplicado_id_fkey" FOREIGN KEY ("diagnostico_aplicado_id") REFERENCES "public"."diagnosticos_aplicados"("id");



ALTER TABLE ONLY "public"."superficies"
    ADD CONSTRAINT "superficies_diente_id_fkey" FOREIGN KEY ("diente_id") REFERENCES "public"."dientes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."suplidores_contactos"
    ADD CONSTRAINT "suplidor_contacto_contacto_id_fkey" FOREIGN KEY ("contacto_id") REFERENCES "public"."contactos"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."suplidores_contactos"
    ADD CONSTRAINT "suplidor_contacto_suplidor_id_fkey" FOREIGN KEY ("suplidor_id") REFERENCES "public"."suplidores"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."tratamientos_aplicados"
    ADD CONSTRAINT "tratamientos_aplicados_consulta_id_fkey" FOREIGN KEY ("consulta_id") REFERENCES "public"."consultas"("id");



ALTER TABLE ONLY "public"."tratamientos_aplicados"
    ADD CONSTRAINT "tratamientos_aplicados_diente_id_fkey" FOREIGN KEY ("diente_id") REFERENCES "public"."dientes"("id");



ALTER TABLE ONLY "public"."tratamientos_aplicados"
    ADD CONSTRAINT "tratamientos_aplicados_tratamiento_id_fkey" FOREIGN KEY ("tratamiento_id") REFERENCES "public"."tratamientos"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."tratamientos_aplicados"
    ADD CONSTRAINT "tratamientos_aplicados_tratamiento_padre_id_fkey" FOREIGN KEY ("tratamiento_padre_id") REFERENCES "public"."tratamientos_aplicados"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_id_fkey" FOREIGN KEY ("id") REFERENCES "public"."personas"("id") ON UPDATE CASCADE ON DELETE CASCADE;



CREATE POLICY "citas_delete" ON "public"."citas" FOR DELETE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_asistente"() OR "public"."es_doctor"()));



CREATE POLICY "citas_insert" ON "public"."citas" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_asistente"() OR "public"."es_doctor"()));



CREATE POLICY "citas_select" ON "public"."citas" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "citas_update" ON "public"."citas" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_asistente"() OR "public"."es_doctor"()));



CREATE POLICY "consulta_delete" ON "public"."consultas" FOR DELETE TO "authenticated" USING ("public"."es_admin"());



CREATE POLICY "consulta_insert" ON "public"."consultas" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_doctor"()));



CREATE POLICY "consulta_select" ON "public"."consultas" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"()));



CREATE POLICY "consulta_update" ON "public"."consultas" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"()));



ALTER TABLE "public"."consultas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "cuenta_select" ON "public"."cuentas" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "cuenta_update" ON "public"."cuentas" FOR UPDATE TO "authenticated" USING ("public"."es_admin"());



ALTER TABLE "public"."cuentas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "odontograma_insert" ON "public"."odontogramas" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_doctor"()));



CREATE POLICY "odontograma_select" ON "public"."odontogramas" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"()));



CREATE POLICY "odontograma_update" ON "public"."odontogramas" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"()));



ALTER TABLE "public"."odontogramas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "paciente_delete" ON "public"."pacientes" FOR DELETE TO "authenticated" USING ("public"."es_admin"());



ALTER TABLE "public"."pacientes" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "pacientes_insert" ON "public"."pacientes" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "pacientes_select" ON "public"."pacientes" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "pacientes_update" ON "public"."pacientes" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "pago_delete" ON "public"."pagos" FOR DELETE TO "authenticated" USING ("public"."es_admin"());



CREATE POLICY "pago_insert" ON "public"."pagos" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_asistente"()));



CREATE POLICY "pago_select" ON "public"."pagos" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "pago_update" ON "public"."pagos" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_asistente"()));



ALTER TABLE "public"."pagos" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "persona_delete" ON "public"."personas" FOR DELETE TO "authenticated" USING ("public"."es_admin"());



CREATE POLICY "persona_insert" ON "public"."personas" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "persona_select" ON "public"."personas" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



CREATE POLICY "persona_update" ON "public"."personas" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"() OR "public"."es_asistente"()));



ALTER TABLE "public"."personas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "record_delete" ON "public"."records" FOR DELETE TO "authenticated" USING ("public"."es_admin"());



CREATE POLICY "record_insert" ON "public"."records" FOR INSERT TO "authenticated" WITH CHECK (("public"."es_admin"() OR "public"."es_doctor"()));



CREATE POLICY "record_select" ON "public"."records" FOR SELECT TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"()));



CREATE POLICY "record_update" ON "public"."records" FOR UPDATE TO "authenticated" USING (("public"."es_admin"() OR "public"."es_doctor"()));



ALTER TABLE "public"."records" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."actualizar_stock_por_compra"() TO "anon";
GRANT ALL ON FUNCTION "public"."actualizar_stock_por_compra"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."actualizar_stock_por_compra"() TO "service_role";



GRANT ALL ON FUNCTION "public"."cancelar_citas_paciente_inactivo"() TO "anon";
GRANT ALL ON FUNCTION "public"."cancelar_citas_paciente_inactivo"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cancelar_citas_paciente_inactivo"() TO "service_role";



GRANT ALL ON FUNCTION "public"."crear_consulta_completa"("p_paciente_id" "uuid", "p_doctor_id" "uuid", "p_cita_id" "uuid", "p_fecha" timestamp with time zone, "p_motivo_consulta" "text", "p_temp_condiciones" "jsonb", "p_dientes" "jsonb", "p_documentos" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."crear_consulta_completa"("p_paciente_id" "uuid", "p_doctor_id" "uuid", "p_cita_id" "uuid", "p_fecha" timestamp with time zone, "p_motivo_consulta" "text", "p_temp_condiciones" "jsonb", "p_dientes" "jsonb", "p_documentos" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."crear_consulta_completa"("p_paciente_id" "uuid", "p_doctor_id" "uuid", "p_cita_id" "uuid", "p_fecha" timestamp with time zone, "p_motivo_consulta" "text", "p_temp_condiciones" "jsonb", "p_dientes" "jsonb", "p_documentos" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."es_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."es_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."es_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."es_asistente"() TO "anon";
GRANT ALL ON FUNCTION "public"."es_asistente"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."es_asistente"() TO "service_role";



GRANT ALL ON FUNCTION "public"."es_doctor"() TO "anon";
GRANT ALL ON FUNCTION "public"."es_doctor"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."es_doctor"() TO "service_role";



GRANT ALL ON FUNCTION "public"."limpiar_diagnosticos_superficie"() TO "anon";
GRANT ALL ON FUNCTION "public"."limpiar_diagnosticos_superficie"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."limpiar_diagnosticos_superficie"() TO "service_role";



GRANT ALL ON FUNCTION "public"."manejar_cita_cancelada"() TO "anon";
GRANT ALL ON FUNCTION "public"."manejar_cita_cancelada"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."manejar_cita_cancelada"() TO "service_role";



GRANT ALL ON FUNCTION "public"."registrar_movimiento_por_pago"() TO "anon";
GRANT ALL ON FUNCTION "public"."registrar_movimiento_por_pago"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."registrar_movimiento_por_pago"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_modified_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_modified_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_modified_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_timestamp"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_timestamp"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_timestamp"() TO "service_role";



GRANT ALL ON FUNCTION "public"."validar_caja_abierta"() TO "anon";
GRANT ALL ON FUNCTION "public"."validar_caja_abierta"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."validar_caja_abierta"() TO "service_role";



GRANT ALL ON FUNCTION "public"."validar_disponibilidad_doctor_simple"() TO "anon";
GRANT ALL ON FUNCTION "public"."validar_disponibilidad_doctor_simple"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."validar_disponibilidad_doctor_simple"() TO "service_role";



GRANT ALL ON FUNCTION "public"."validar_doctor_activo"() TO "anon";
GRANT ALL ON FUNCTION "public"."validar_doctor_activo"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."validar_doctor_activo"() TO "service_role";



GRANT ALL ON FUNCTION "public"."validar_fecha_nacimiento"() TO "anon";
GRANT ALL ON FUNCTION "public"."validar_fecha_nacimiento"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."validar_fecha_nacimiento"() TO "service_role";



GRANT ALL ON FUNCTION "public"."validar_monto_cuotas"() TO "anon";
GRANT ALL ON FUNCTION "public"."validar_monto_cuotas"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."validar_monto_cuotas"() TO "service_role";



GRANT ALL ON FUNCTION "public"."validar_monto_pago"() TO "anon";
GRANT ALL ON FUNCTION "public"."validar_monto_pago"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."validar_monto_pago"() TO "service_role";



GRANT ALL ON TABLE "public"."admins" TO "anon";
GRANT ALL ON TABLE "public"."admins" TO "authenticated";
GRANT ALL ON TABLE "public"."admins" TO "service_role";



GRANT ALL ON TABLE "public"."asistentes" TO "anon";
GRANT ALL ON TABLE "public"."asistentes" TO "authenticated";
GRANT ALL ON TABLE "public"."asistentes" TO "service_role";



GRANT ALL ON TABLE "public"."cajas_diarias" TO "anon";
GRANT ALL ON TABLE "public"."cajas_diarias" TO "authenticated";
GRANT ALL ON TABLE "public"."cajas_diarias" TO "service_role";



GRANT ALL ON TABLE "public"."citas" TO "anon";
GRANT ALL ON TABLE "public"."citas" TO "authenticated";
GRANT ALL ON TABLE "public"."citas" TO "service_role";



GRANT ALL ON TABLE "public"."compras" TO "anon";
GRANT ALL ON TABLE "public"."compras" TO "authenticated";
GRANT ALL ON TABLE "public"."compras" TO "service_role";



GRANT ALL ON TABLE "public"."condiciones" TO "anon";
GRANT ALL ON TABLE "public"."condiciones" TO "authenticated";
GRANT ALL ON TABLE "public"."condiciones" TO "service_role";



GRANT ALL ON TABLE "public"."consultas" TO "anon";
GRANT ALL ON TABLE "public"."consultas" TO "authenticated";
GRANT ALL ON TABLE "public"."consultas" TO "service_role";



GRANT ALL ON TABLE "public"."consulta_resumen" TO "anon";
GRANT ALL ON TABLE "public"."consulta_resumen" TO "authenticated";
GRANT ALL ON TABLE "public"."consulta_resumen" TO "service_role";



GRANT ALL ON TABLE "public"."consumibles" TO "anon";
GRANT ALL ON TABLE "public"."consumibles" TO "authenticated";
GRANT ALL ON TABLE "public"."consumibles" TO "service_role";



GRANT ALL ON TABLE "public"."consumibles_compras" TO "anon";
GRANT ALL ON TABLE "public"."consumibles_compras" TO "authenticated";
GRANT ALL ON TABLE "public"."consumibles_compras" TO "service_role";



GRANT ALL ON TABLE "public"."contactos" TO "anon";
GRANT ALL ON TABLE "public"."contactos" TO "authenticated";
GRANT ALL ON TABLE "public"."contactos" TO "service_role";



GRANT ALL ON TABLE "public"."contraindicaciones" TO "anon";
GRANT ALL ON TABLE "public"."contraindicaciones" TO "authenticated";
GRANT ALL ON TABLE "public"."contraindicaciones" TO "service_role";



GRANT ALL ON TABLE "public"."cuentas" TO "anon";
GRANT ALL ON TABLE "public"."cuentas" TO "authenticated";
GRANT ALL ON TABLE "public"."cuentas" TO "service_role";



GRANT ALL ON TABLE "public"."cuotas" TO "anon";
GRANT ALL ON TABLE "public"."cuotas" TO "authenticated";
GRANT ALL ON TABLE "public"."cuotas" TO "service_role";



GRANT ALL ON TABLE "public"."diagnosticos" TO "anon";
GRANT ALL ON TABLE "public"."diagnosticos" TO "authenticated";
GRANT ALL ON TABLE "public"."diagnosticos" TO "service_role";



GRANT ALL ON TABLE "public"."diagnosticos_aplicados" TO "anon";
GRANT ALL ON TABLE "public"."diagnosticos_aplicados" TO "authenticated";
GRANT ALL ON TABLE "public"."diagnosticos_aplicados" TO "service_role";



GRANT ALL ON TABLE "public"."dientes" TO "anon";
GRANT ALL ON TABLE "public"."dientes" TO "authenticated";
GRANT ALL ON TABLE "public"."dientes" TO "service_role";



GRANT ALL ON TABLE "public"."doctor_asistentes" TO "anon";
GRANT ALL ON TABLE "public"."doctor_asistentes" TO "authenticated";
GRANT ALL ON TABLE "public"."doctor_asistentes" TO "service_role";



GRANT ALL ON TABLE "public"."doctores" TO "anon";
GRANT ALL ON TABLE "public"."doctores" TO "authenticated";
GRANT ALL ON TABLE "public"."doctores" TO "service_role";



GRANT ALL ON TABLE "public"."documentos_clinicos" TO "anon";
GRANT ALL ON TABLE "public"."documentos_clinicos" TO "authenticated";
GRANT ALL ON TABLE "public"."documentos_clinicos" TO "service_role";



GRANT ALL ON TABLE "public"."equipos" TO "anon";
GRANT ALL ON TABLE "public"."equipos" TO "authenticated";
GRANT ALL ON TABLE "public"."equipos" TO "service_role";



GRANT ALL ON TABLE "public"."equipos_mantenimientos" TO "anon";
GRANT ALL ON TABLE "public"."equipos_mantenimientos" TO "authenticated";
GRANT ALL ON TABLE "public"."equipos_mantenimientos" TO "service_role";



GRANT ALL ON TABLE "public"."item_cuentas" TO "anon";
GRANT ALL ON TABLE "public"."item_cuentas" TO "authenticated";
GRANT ALL ON TABLE "public"."item_cuentas" TO "service_role";



GRANT ALL ON TABLE "public"."medicinas" TO "anon";
GRANT ALL ON TABLE "public"."medicinas" TO "authenticated";
GRANT ALL ON TABLE "public"."medicinas" TO "service_role";



GRANT ALL ON TABLE "public"."movimientos_caja" TO "anon";
GRANT ALL ON TABLE "public"."movimientos_caja" TO "authenticated";
GRANT ALL ON TABLE "public"."movimientos_caja" TO "service_role";



GRANT ALL ON TABLE "public"."odontogramas" TO "anon";
GRANT ALL ON TABLE "public"."odontogramas" TO "authenticated";
GRANT ALL ON TABLE "public"."odontogramas" TO "service_role";



GRANT ALL ON TABLE "public"."ordenes_medicas" TO "anon";
GRANT ALL ON TABLE "public"."ordenes_medicas" TO "authenticated";
GRANT ALL ON TABLE "public"."ordenes_medicas" TO "service_role";



GRANT ALL ON TABLE "public"."pacientes" TO "anon";
GRANT ALL ON TABLE "public"."pacientes" TO "authenticated";
GRANT ALL ON TABLE "public"."pacientes" TO "service_role";



GRANT ALL ON TABLE "public"."pagos" TO "anon";
GRANT ALL ON TABLE "public"."pagos" TO "authenticated";
GRANT ALL ON TABLE "public"."pagos" TO "service_role";



GRANT ALL ON TABLE "public"."persona_contactos" TO "anon";
GRANT ALL ON TABLE "public"."persona_contactos" TO "authenticated";
GRANT ALL ON TABLE "public"."persona_contactos" TO "service_role";



GRANT ALL ON TABLE "public"."personas" TO "anon";
GRANT ALL ON TABLE "public"."personas" TO "authenticated";
GRANT ALL ON TABLE "public"."personas" TO "service_role";



GRANT ALL ON TABLE "public"."procedimientos" TO "anon";
GRANT ALL ON TABLE "public"."procedimientos" TO "authenticated";
GRANT ALL ON TABLE "public"."procedimientos" TO "service_role";



GRANT ALL ON TABLE "public"."recetas" TO "anon";
GRANT ALL ON TABLE "public"."recetas" TO "authenticated";
GRANT ALL ON TABLE "public"."recetas" TO "service_role";



GRANT ALL ON TABLE "public"."record_aflicciones" TO "anon";
GRANT ALL ON TABLE "public"."record_aflicciones" TO "authenticated";
GRANT ALL ON TABLE "public"."record_aflicciones" TO "service_role";



GRANT ALL ON TABLE "public"."records" TO "anon";
GRANT ALL ON TABLE "public"."records" TO "authenticated";
GRANT ALL ON TABLE "public"."records" TO "service_role";



GRANT ALL ON TABLE "public"."superficies" TO "anon";
GRANT ALL ON TABLE "public"."superficies" TO "authenticated";
GRANT ALL ON TABLE "public"."superficies" TO "service_role";



GRANT ALL ON TABLE "public"."suplidores" TO "anon";
GRANT ALL ON TABLE "public"."suplidores" TO "authenticated";
GRANT ALL ON TABLE "public"."suplidores" TO "service_role";



GRANT ALL ON TABLE "public"."suplidores_contactos" TO "anon";
GRANT ALL ON TABLE "public"."suplidores_contactos" TO "authenticated";
GRANT ALL ON TABLE "public"."suplidores_contactos" TO "service_role";



GRANT ALL ON TABLE "public"."tratamientos" TO "anon";
GRANT ALL ON TABLE "public"."tratamientos" TO "authenticated";
GRANT ALL ON TABLE "public"."tratamientos" TO "service_role";



GRANT ALL ON TABLE "public"."tratamientos_aplicados" TO "anon";
GRANT ALL ON TABLE "public"."tratamientos_aplicados" TO "authenticated";
GRANT ALL ON TABLE "public"."tratamientos_aplicados" TO "service_role";



GRANT ALL ON TABLE "public"."usuarios" TO "anon";
GRANT ALL ON TABLE "public"."usuarios" TO "authenticated";
GRANT ALL ON TABLE "public"."usuarios" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







